{% extends "layout.html" %}
{% block content %}

{% if session.user %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<p><a href="/login">Kirjaudu sisään</a></p>
<p>Voit luoda tunnuksen <a href="/register">täällä</a></p>
{% endif %}

<h2>Elokuvat</h2>
<ul>
{% for movie in movies %}
<li> {{ movie }}
{% endfor %}
</ul>


<form action="/movies" method="GET">
Hae elokuvaa: <input type="text" name="query">
<br>
<input type="submit" value="Lähetä">
</form>

{% endblock %}
