{% extends "layout.html" %}
{% block content %}

{% if session.user %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<p><a href="/login">Kirjaudu sisään</a></p>
<p>Voit luoda tunnuksen <a href="/register">täällä</a></p>
{% endif %}

<h2>Top 20 elokuvaa</h2>
<ul>
{% for movie in movies %}

{% if movie.star_avg %}
<li> <a href="/movies/{{ movie.id }}">{{ movie.name }}</a> ⭐️ {{ movie.star_avg }}
{% else %}
<li> <a href="/movies/{{ movie.id }}">{{ movie.name }} ⭐️ Ei arvioita</a>
{% endif %}

{% endfor %}
</ul>



<form action="/movies" method="GET">
Hae elokuvaa: <input type="text" name="query">
<br>
<input type="submit" value="Lähetä">
</form>

<p><a href="/movies">Katso lista kaikista elokuvista</a></p>

{% endblock %}
