{% extends "layout.html" %}
{% block content %}

{% if session.role == 1 %}
<div>
<p>Muokkaa elokuvan <b>{{ movie.name }} ({{ movie.year }})</b> tietoja</p>
<form action="/modify/{{ movie.id }}" method="POST">
Nimi:
<input type="text" name="name" minlength="2" value="{{ movie.name }}" size="30" required>
<br>
Ohjaaja:
<input type="text" name="director" minlength="2" value="{{ movie.director }}" size="30" required>
<br>
Julkaisuvuosi:
<input type="text" name="year" minlength="4" maxlength="4" value="{{ movie.year }}" size="30" required>
<br>
Kuvaus:
<textarea name="description" rows="3" cols="30" minlength="2" maxlength="500" required>{{ movie.description }}</textarea>
<br>
<input type="submit" value="Muuta tietoja">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
</div>

<div>
    <button id="_delete_movie" onclick="deleteMovie('{{base_url}}','{{ movie.id }}','{{ session.csrf_token }}')"><b>Poista elokuva</b></button>


<script>
function deleteMovie(url, movie_id, csrf_token) {
    console.log(url)
    console.log(movie_id)
    const confirmation = confirm('Haluatko varmasti poistaa elokuvan?')
    console.log(confirmation)

    if (confirmation) {
        console.log('yes')
        fetch(url + 'modify/' + movie_id + '/delete',
        {
            method: 'DELETE',
            headers: {
                'Content-type': 'application/json',
            },
            body: JSON.stringify({'csrf_token': csrf_token})
        }).then(r => window.location.replace(url + 'movies'))
          .catch(e => console.error(e))

    } else {
        console.log('no')
    }
}
</script>
</div>

<p>Katso kaikki elokuvat <a href="/movies">täällä</a></p>

{% endif %}
{% endblock %}
