{% extends "layout.html" %}
{% block content %}
{% if movie.star_avg %}
<h3>{{ movie.name }} {{ movie.star_avg }} ⭐️ {{ movie.star_count }} arviota</h3>
{% else %}
<h3>{{ movie.name }} ⭐️ 0 arviota</h3>
{% endif %}
<p>Julkaisuvuosi: {{ movie.year }}</p>
<p>Ohjaaja: {{ movie.director }}</p>
<p>Kuvaus: {{ movie.description }}</p>

{% if session.role == 1 %}
<p>Muokkaa elokuvan tietoja <a href="/modify/{{ movie.id }}">täällä</a></p>
{% endif %}

{% if session.user %}
<hr>
<p><h3>Anna arvio:</h3>
    <form action="/movies/{{ movie.id }}" method="POST">
    <select name="stars">
        <option value="1"> 1
        <option value="2"> 2
        <option value="3" selected> 3
        <option value="4"> 4
        <option value="5"> 5
    </select>
    <br>
    Kirjallinen arvio: <br>
    <br>
    <textarea name="review" rows="5" cols="40" minlength="10" maxlength="10000"></textarea>
    <br>
    <button type="submit" class="button">Anna arvio elokuvalle</button>
    </form>
</p>

<hr>
<p>
<h3>Elokuvalle annetut arviot</h3>
{% for review in reviews %}
    {{ review.posted_at }} {{ review.username }}<br>
    <em>{{ review.comment }}</em><br>
{% endfor %}
</p>

<hr>
<h3>Anna elokuvalle muokkauspyyntö</h3>
<form action="/movies/{{ movie.id }}" method="POST">
    Muokkauspyyntö: <br>
    <br>
    <textarea name="request" rows="5" cols="40" minlength="10" maxlength="10000"></textarea>
    <br>
    <button type="submit" class="button">Lähetä muokkauspyyntö</button>
</form>

{% else %}
<hr>
<p><a href="/login">Kirjaudu sisään antaaksesi arvion</a></p>
{% endif %}

{% if session.role == 1 %}
<hr>
<h3>Elokuvalle annetut muokkauspyynnöt</h3>
{% for request in requests %}
    {{ request.posted_at }} {{ request.username }}<br>
    <em>{{ request.request }}</em><br>
{% endfor %}

<hr>
{% endif %}

{% endblock %}
